/* Predefined Colors */
/* Add your variable customizations of layout here */
/* source-sans-pro-300 - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/source-sans-pro-v11-latin-ext_latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("../fonts/source-sans-pro-v11-latin-ext_latin-300.eot#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-300.woff2") format("woff2"), url("../fonts/source-sans-pro-v11-latin-ext_latin-300.woff") format("woff"), url("../fonts/source-sans-pro-v11-latin-ext_latin-300.ttf") format("truetype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-300.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v11-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../fonts/source-sans-pro-v11-latin-ext_latin-regular.eot#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/source-sans-pro-v11-latin-ext_latin-regular.woff") format("woff"), url("../fonts/source-sans-pro-v11-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-italic - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v11-latin-ext_latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"), url("../fonts/source-sans-pro-v11-latin-ext_latin-italic.eot#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v11-latin-ext_latin-italic.woff") format("woff"), url("../fonts/source-sans-pro-v11-latin-ext_latin-italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-700 - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/source-sans-pro-v11-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/source-sans-pro-v11-latin-ext_latin-700.eot#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/source-sans-pro-v11-latin-ext_latin-700.woff") format("woff"), url("../fonts/source-sans-pro-v11-latin-ext_latin-700.ttf") format("truetype"), url("../fonts/source-sans-pro-v11-latin-ext_latin-700.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.card {
  background: #1e1e1e;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }
  .card:last-child {
    margin: 0; }

.nopad {
  padding: 0; }
  .nopad .p-panel-content {
    padding: 0; }

.p-sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important; }

.separator {
  border: 1px solid #383838; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -20px, 0); } }
@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -20px, 0); } }
.fadeInDown {
  animation-name: fadeInDown; }

.fadeOutUp {
  animation-name: fadeOutUp; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6); }

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6); }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: normal;
  line-height: 1.2;
  color: inherit; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

mark {
  background: #FFF8E1;
  padding: .25rem .4rem;
  border-radius: 3px;
  font-family: monospace; }

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE; }

hr {
  border-top: solid #383838;
  border-width: 1px 0 0 0;
  margin: 1rem 0; }

p {
  margin: 0 0 1rem 0;
  line-height: 1.5; }
  p:last-child {
    margin-bottom: 0; }

.loader {
  min-height: 100%; }
  .loader > div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    transform-origin: 100% 100%; }
  .loader > div span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    animation: 0.5s infinite linear; }
  .loader > div span:nth-child(1) {
    background: #6ebc3b;
    animation: kiri 1.2s infinite linear; }
  .loader > div span:nth-child(2) {
    background: #f6a821;
    z-index: 100; }
  .loader > div span:nth-child(3) {
    background: #39a3f4;
    animation: kanan 1.2s infinite linear; }

@-webkit-keyframes kanan {
  0% {
    -webkit-transform: translateX(20px); }
  50% {
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(20px);
    z-index: 200; } }
@-moz-keyframes kanan {
  0% {
    -moz-transform: translateX(20px); }
  50% {
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(20px);
    z-index: 200; } }
@-o-keyframes kanan {
  0% {
    -o-transform: translateX(20px); }
  50% {
    -o-transform: translateX(-20px); }
  100% {
    -o-transform: translateX(20px);
    z-index: 200; } }
@-webkit-keyframes kiri {
  0% {
    -webkit-transform: translateX(-20px);
    z-index: 200; }
  50% {
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(-20px); } }
@-moz-keyframes kiri {
  0% {
    -moz-transform: translateX(-20px);
    z-index: 200; }
  50% {
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(-20px); } }
@-o-keyframes kiri {
  0% {
    -o-transform: translateX(-20px);
    z-index: 200; }
  50% {
    -o-transform: translateX(20px); }
  100% {
    -o-transform: translateX(-20px); } }
* {
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 14px; }

/* Main Layout */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87); }
  body .layout-mask {
    display: none; }
  body a {
    text-decoration: none;
    color: #7E57C2; }

.layout-wrapper .topbar {
  background-color: #7E57C2;
  padding: 10px 16px;
  height: 50px;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 102;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .layout-wrapper .topbar .menu-button {
    display: none;
    cursor: pointer;
    vertical-align: top;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: -10px;
    margin-left: 30px;
    color: #ffffff;
    user-select: none;
    transition: background-color 0.2s; }
    .layout-wrapper .topbar .menu-button i {
      font-size: 28px;
      line-height: inherit; }
    .layout-wrapper .topbar .menu-button:hover {
      background-color: #9b7cd0; }
  .layout-wrapper .topbar .topbar-themeswitcher {
    position: relative;
    float: right;
    top: 8px;
    right: 10px; }
    .layout-wrapper .topbar .topbar-themeswitcher .p-inputswitch .p-inputswitch-slider {
      background-color: #ffffff;
      border-color: #d8d8d8; }
      .layout-wrapper .topbar .topbar-themeswitcher .p-inputswitch .p-inputswitch-slider:before {
        background-color: #d8d8d8; }
    .layout-wrapper .topbar .topbar-themeswitcher .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
      background-color: #243447;
      border-color: #243447; }
      .layout-wrapper .topbar .topbar-themeswitcher .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
        background-color: #000000; }
  .layout-wrapper .topbar .topbar-search {
    padding: 0;
    position: relative;
    float: right;
    margin: 0 10px 0 0;
    top: 3px; }
    .layout-wrapper .topbar .topbar-search input {
      display: inline-block;
      border: 0 none;
      font-size: 14px;
      background: #9b7cd0;
      outline: 0 none;
      color: #ffffff;
      width: 175px;
      padding: 4px 20px 4px 8px;
      margin: 0px;
      border-radius: 3px; }
      .layout-wrapper .topbar .topbar-search input::-webkit-input-placeholder {
        color: #ffffff;
        opacity: .7;
        transition: opacity 0.2s; }
      .layout-wrapper .topbar .topbar-search input:-moz-placeholder {
        color: #ffffff;
        opacity: .7;
        transition: opacity 0.2s; }
      .layout-wrapper .topbar .topbar-search input::-moz-placeholder {
        color: #ffffff;
        opacity: .7;
        transition: opacity 0.2s; }
      .layout-wrapper .topbar .topbar-search input:-ms-input-placeholder {
        color: #ffffff;
        opacity: .7;
        transition: opacity 0.2s; }
    .layout-wrapper .topbar .topbar-search .pi {
      font-size: 16px;
      position: absolute;
      top: 4px;
      right: 5px;
      color: #ffffff; }
  .layout-wrapper .topbar .logo-link {
    display: inline-block;
    height: 100%;
    width: 185px; }
    .layout-wrapper .topbar .logo-link .logo {
      height: 30px; }
  .layout-wrapper .topbar .profile {
    float: right;
    text-align: right;
    margin-top: -5px;
    font-weight: 700;
    cursor: pointer; }
    .layout-wrapper .topbar .profile img {
      vertical-align: middle;
      width: 40px;
      margin-right: 8px; }
    .layout-wrapper .topbar .profile .username {
      vertical-align: middle;
      margin-right: 8px;
      color: #ffffff; }
    .layout-wrapper .topbar .profile .pi {
      font-size: 16px;
      vertical-align: middle;
      color: #ffffff; }
  .layout-wrapper .topbar .topbar-menu {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 50px;
    width: 250px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #7E57C2;
    border-top: 1px solid #643da9;
    animation-duration: 0.2s; }
    .layout-wrapper .topbar .topbar-menu.topbar-menu-visible {
      display: block; }
    .layout-wrapper .topbar .topbar-menu > li button {
      width: 100%;
      font-family: "Source Sans Pro", Arial, sans-serif;
      font-size: 14px;
      color: #ffffff;
      padding: 10px 16px;
      display: block; }
      .layout-wrapper .topbar .topbar-menu > li button i {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle; }
      .layout-wrapper .topbar .topbar-menu > li button span {
        margin-left: 6px;
        display: inline-block;
        vertical-align: middle; }
      .layout-wrapper .topbar .topbar-menu > li button img {
        display: inline-block;
        vertical-align: middle; }
      .layout-wrapper .topbar .topbar-menu > li button .topbar-badge {
        float: right;
        background-color: #ffffff;
        display: block;
        color: #7E57C2;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        margin-top: 1px;
        border-radius: 50%; }
      .layout-wrapper .topbar .topbar-menu > li button:hover {
        background-color: #9b7cd0; }
    .layout-wrapper .topbar .topbar-menu > li ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .layout-wrapper .topbar .topbar-menu > li ul button {
        padding-left: 32px; }
      .layout-wrapper .topbar .topbar-menu > li ul.layout-submenu-container-enter {
        max-height: 0; }
      .layout-wrapper .topbar .topbar-menu > li ul.layout-submenu-container-enter-active {
        overflow: hidden;
        max-height: 1000px;
        transition: max-height 1s ease-in-out; }
      .layout-wrapper .topbar .topbar-menu > li ul.layout-submenu-container-enter-done {
        transform: none; }
      .layout-wrapper .topbar .topbar-menu > li ul.layout-submenu-container-exit {
        max-height: 1000px; }
      .layout-wrapper .topbar .topbar-menu > li ul.layout-submenu-container-exit-active {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
    .layout-wrapper .topbar .topbar-menu > li.topbar-search-item {
      border-top: 1px solid #643da9;
      padding: 10px 16px;
      display: none; }
      .layout-wrapper .topbar .topbar-menu > li.topbar-search-item .topbar-search {
        float: none;
        display: block;
        width: 100%;
        top: 0; }
        .layout-wrapper .topbar .topbar-menu > li.topbar-search-item .topbar-search input {
          width: 100%; }
.layout-wrapper.layout-overlay .topbar, .layout-wrapper.layout-static .topbar {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }
  .layout-wrapper.layout-overlay .topbar .menu-button, .layout-wrapper.layout-static .topbar .menu-button {
    display: inline-block; }
.layout-wrapper.layout-slim .topbar {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }

.layout-wrapper .layout-menu-container {
  background-color: #1e1e1e;
  position: fixed;
  z-index: 101;
  top: 50px;
  left: 0;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }
  .layout-wrapper .layout-menu-container .layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .layout-wrapper .layout-menu-container .layout-menu li > a {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.87);
      display: block;
      user-select: none; }
      .layout-wrapper .layout-menu-container .layout-menu li > a span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px; }
      .layout-wrapper .layout-menu-container .layout-menu li > a i {
        display: inline-block;
        vertical-align: middle; }
      .layout-wrapper .layout-menu-container .layout-menu li > a > span.menuitem-badge {
        background-color: #7E57C2;
        width: 18px;
        height: 18px;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        float: right;
        position: relative;
        top: 2px;
        padding-top: 1px;
        border-radius: 50%; }
      .layout-wrapper .layout-menu-container .layout-menu li > a .layout-menuitem-toggler {
        transition: transform 0.2s; }
      .layout-wrapper .layout-menu-container .layout-menu li > a.router-link-active {
        color: #7E57C2;
        font-weight: 700; }
      .layout-wrapper .layout-menu-container .layout-menu li > a.router-link-active, .layout-wrapper .layout-menu-container .layout-menu li > a.router-link-exact-active {
        color: #7E57C2; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).blue-theme i {
        color: #39a3f4; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).green-theme i {
        color: #6ebc3b; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).cyan-theme i {
        color: #26C6DA; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).purple-theme i {
        color: #7E57C2; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).indigo-theme i {
        color: #5C6BC0; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).yellow-theme i {
        color: #ffc800; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).orange-theme i {
        color: #f6a821; }
      .layout-wrapper .layout-menu-container .layout-menu li > a:not(:hover).pink-theme i {
        color: #EC407A; }
      .layout-wrapper .layout-menu-container .layout-menu li > a.rotated-icon .layout-menuitem-icon {
        transform: rotate(90deg); }
    .layout-wrapper .layout-menu-container .layout-menu li ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden; }
      .layout-wrapper .layout-menu-container .layout-menu li ul.layout-submenu-container-enter {
        max-height: 0; }
      .layout-wrapper .layout-menu-container .layout-menu li ul.layout-submenu-container-enter-active {
        overflow: hidden;
        max-height: 1000px;
        transition: max-height 1s ease-in-out; }
      .layout-wrapper .layout-menu-container .layout-menu li ul.layout-submenu-container-enter-done {
        transform: none; }
      .layout-wrapper .layout-menu-container .layout-menu li ul.layout-submenu-container-exit {
        max-height: 1000px; }
      .layout-wrapper .layout-menu-container .layout-menu li ul.layout-submenu-container-exit-active {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
    .layout-wrapper .layout-menu-container .layout-menu li.active-menuitem > a .layout-menuitem-toggler {
      transform: rotate(-180deg); }
    .layout-wrapper .layout-menu-container .layout-menu .layout-menu-tooltip {
      display: none;
      padding: 0 5px;
      position: absolute;
      left: 61px;
      top: 7px;
      line-height: 1; }
      .layout-wrapper .layout-menu-container .layout-menu .layout-menu-tooltip .layout-menu-tooltip-text {
        padding: 6px 8px;
        font-weight: 700;
        background-color: #7E57C2;
        color: #ffffff;
        min-width: 75px;
        white-space: nowrap;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }
      .layout-wrapper .layout-menu-container .layout-menu .layout-menu-tooltip .layout-menu-tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        top: 50%;
        left: 0;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: #7E57C2; }

.layout-wrapper .layout-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }
  .layout-wrapper .layout-content .layout-breadcrumb {
    background-color: #1e1e1e;
    border-bottom: 1px solid #383838;
    min-height: 42px;
    padding: 0px 20px; }
    .layout-wrapper .layout-content .layout-breadcrumb:before, .layout-wrapper .layout-content .layout-breadcrumb:after {
      content: "";
      display: table; }
    .layout-wrapper .layout-content .layout-breadcrumb:after {
      clear: both; }
    .layout-wrapper .layout-content .layout-breadcrumb ul {
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;
      color: rgba(255, 255, 255, 0.87);
      display: inline-block; }
      .layout-wrapper .layout-content .layout-breadcrumb ul li {
        display: inline-block;
        vertical-align: middle;
        color: rgba(255, 255, 255, 0.87);
        text-transform: capitalize;
        padding: 0 2px; }
        .layout-wrapper .layout-content .layout-breadcrumb ul li button {
          font-family: "Source Sans Pro", Arial, sans-serif;
          color: rgba(255, 255, 255, 0.87); }
          .layout-wrapper .layout-content .layout-breadcrumb ul li button i {
            font-size: 20px; }
    .layout-wrapper .layout-content .layout-breadcrumb .layout-breadcrumb-options {
      float: right;
      padding: 0;
      height: 100%;
      cursor: pointer; }
      .layout-wrapper .layout-content .layout-breadcrumb .layout-breadcrumb-options button {
        font-family: "Source Sans Pro", Arial, sans-serif;
        color: rgba(255, 255, 255, 0.6);
        display: inline-block;
        width: 42px;
        height: 42px;
        font-size: 20px;
        line-height: 42px;
        text-align: center;
        border-radius: 0; }
        .layout-wrapper .layout-content .layout-breadcrumb .layout-breadcrumb-options button:hover {
          background-color: #7E57C2;
          color: #ffffff; }
        .layout-wrapper .layout-content .layout-breadcrumb .layout-breadcrumb-options button i {
          font-size: 18px;
          line-height: inherit; }
  .layout-wrapper .layout-content .layout-content-container {
    padding: 20px 20px;
    flex: 1 1 0; }

.layout-wrapper .layout-footer {
  font-weight: 700;
  background-color: #1e1e1e;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .layout-wrapper .layout-footer .footer-text-left {
    float: left; }
  .layout-wrapper .layout-footer .footer-text-right {
    float: right; }

@media (min-width: 1025px) {
  .layout-wrapper.layout-horizontal .layout-content {
    padding-top: 100px; }
  .layout-wrapper.layout-horizontal .layout-menu-container {
    padding: 0 20px;
    width: 100%; }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu-title {
      display: none; }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li {
      display: inline-block;
      position: relative; }
      .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > a {
        padding: 12px;
        height: 50px;
        margin-bottom: -4px;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.2s, background-color 0.2s; }
        .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > a:not(.p-disabled):hover {
          border-bottom-color: #7E57C2;
          color: #7E57C2; }
      .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li.active-menuitem > a {
        background-color: #7E57C2;
        color: #ffffff; }
        .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li.active-menuitem > a:not(.p-disabled):hover {
          color: #ffffff; }
      .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li.active-menuitem > ul {
        top: 50px;
        left: 0;
        position: absolute;
        display: block; }
      .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li ul {
        min-width: 200px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }
      .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul {
        display: none;
        margin: 0;
        padding: 0;
        max-height: none;
        list-style-type: none;
        background-color: #1e1e1e; }
        .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li a {
          padding: 8px 12px;
          display: block; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li a span {
            margin-left: 6px; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li a i.layout-menuitem-toggler {
            float: right;
            display: block;
            margin-top: 4px; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li a:not(.p-disabled):hover {
            background-color: #7E57C2;
            color: #ffffff; }
        .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li.p-menu-separator {
          border-top: 1px solid #383838;
          margin: 0.25rem 0; }
        .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li.active-menuitem > a {
          color: #7E57C2; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li.active-menuitem > a:not(.p-disabled):hover {
            color: #ffffff; }
        .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li.active-menuitem > ul {
          display: block; }
        .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li ul {
          width: 100%;
          box-shadow: none; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li ul li a {
            padding-left: 24px; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li ul li ul li a {
            padding-left: 36px; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li ul li ul li ul li a {
            padding-left: 48px; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li ul li ul li ul li ul li a {
            padding-left: 60px; }
          .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu > li > ul > li ul li ul li ul li ul li ul li a {
            padding-left: 72px; }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu li > a span.menuitem-badge {
      float: none;
      top: 0px; }
    .layout-wrapper.layout-horizontal .layout-menu-container .layout-menu-footer {
      display: none; } }
@media (min-width: 1025px) {
  .layout-wrapper.layout-overlay .layout-menu-container, .layout-wrapper.layout-static .layout-menu-container {
    padding: 0;
    width: 230px;
    height: calc(100% - 50px);
    overflow: auto;
    transition: transform 0.2s; }
    .layout-wrapper.layout-overlay .layout-menu-container .layout-menu-content, .layout-wrapper.layout-static .layout-menu-container .layout-menu-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .layout-wrapper.layout-overlay .layout-menu-container.layout-menu-container-inactive, .layout-wrapper.layout-static .layout-menu-container.layout-menu-container-inactive {
      transform: translateX(-100%); }
    .layout-wrapper.layout-overlay .layout-menu-container .layout-menu-title, .layout-wrapper.layout-static .layout-menu-container .layout-menu-title {
      display: block;
      padding: 11px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid #383838;
      letter-spacing: 2px; }
    .layout-wrapper.layout-overlay .layout-menu-container .layout-menu, .layout-wrapper.layout-static .layout-menu-container .layout-menu {
      flex: 1 1 0; }
      .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li a, .layout-wrapper.layout-static .layout-menu-container .layout-menu li a {
        padding: 10px 12px;
        display: block; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li a:not(.p-disabled):hover, .layout-wrapper.layout-static .layout-menu-container .layout-menu li a:not(.p-disabled):hover {
          background-color: #7E57C2;
          color: #ffffff; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li a i:first-child, .layout-wrapper.layout-static .layout-menu-container .layout-menu li a i:first-child {
          font-size: 14px;
          vertical-align: middle;
          display: inline-block; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li a i.layout-menuitem-toggler, .layout-wrapper.layout-static .layout-menu-container .layout-menu li a i.layout-menuitem-toggler {
          float: right;
          line-height: 22px; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li a > span, .layout-wrapper.layout-static .layout-menu-container .layout-menu li a > span {
          vertical-align: middle;
          display: inline-block;
          margin-left: 6px; }
      .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li.p-menu-separator, .layout-wrapper.layout-static .layout-menu-container .layout-menu li.p-menu-separator {
        border-top: 1px solid #383838;
        margin: 0.25rem 0; }
      .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li.active-menuitem > a, .layout-wrapper.layout-static .layout-menu-container .layout-menu li.active-menuitem > a {
        background-color: #1e1e1e;
        color: #7E57C2; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu li.active-menuitem > a:hover, .layout-wrapper.layout-static .layout-menu-container .layout-menu li.active-menuitem > a:hover {
          background-color: #7E57C2;
          color: #ffffff; }
      .layout-wrapper.layout-overlay .layout-menu-container .layout-menu > li:first-child, .layout-wrapper.layout-static .layout-menu-container .layout-menu > li:first-child {
        margin-top: 8px; }
      .layout-wrapper.layout-overlay .layout-menu-container .layout-menu > li ul, .layout-wrapper.layout-static .layout-menu-container .layout-menu > li ul {
        background: #1e1e1e; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu > li ul li a, .layout-wrapper.layout-static .layout-menu-container .layout-menu > li ul li a {
          padding-left: 24px; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu > li ul li ul li a, .layout-wrapper.layout-static .layout-menu-container .layout-menu > li ul li ul li a {
          padding-left: 36px; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu > li ul li ul li ul li a, .layout-wrapper.layout-static .layout-menu-container .layout-menu > li ul li ul li ul li a {
          padding-left: 48px; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu > li ul li ul li ul li ul li a, .layout-wrapper.layout-static .layout-menu-container .layout-menu > li ul li ul li ul li ul li a {
          padding-left: 60px; }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu > li ul li ul li ul li ul li ul li a, .layout-wrapper.layout-static .layout-menu-container .layout-menu > li ul li ul li ul li ul li ul li a {
          padding-left: 72px; }
    .layout-wrapper.layout-overlay .layout-menu-container .layout-menu-footer, .layout-wrapper.layout-static .layout-menu-container .layout-menu-footer {
      padding-bottom: 10px; }
      .layout-wrapper.layout-overlay .layout-menu-container .layout-menu-footer .layout-menu-footer-title, .layout-wrapper.layout-static .layout-menu-container .layout-menu-footer .layout-menu-footer-title {
        display: block;
        padding: 11px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid #383838;
        letter-spacing: 2px; }
      .layout-wrapper.layout-overlay .layout-menu-container .layout-menu-footer .layout-menu-footer-content, .layout-wrapper.layout-static .layout-menu-container .layout-menu-footer .layout-menu-footer-content {
        padding: 10px 12px;
        color: rgba(255, 255, 255, 0.87); }
        .layout-wrapper.layout-overlay .layout-menu-container .layout-menu-footer .layout-menu-footer-content .p-progressbar, .layout-wrapper.layout-static .layout-menu-container .layout-menu-footer .layout-menu-footer-content .p-progressbar {
          height: 5px;
          border: 0 none;
          margin: 16px 0 4px 0; }
  .layout-wrapper.layout-overlay .layout-content {
    padding-top: 50px; }
  .layout-wrapper.layout-static .layout-content {
    padding-top: 50px;
    margin-left: 230px;
    transition: margin-left 0.2s; }
  .layout-wrapper.layout-static.layout-static-inactive .layout-menu-container {
    transform: translateX(-100%); }
  .layout-wrapper.layout-static.layout-static-inactive .layout-content {
    margin-left: 0; } }
@media (min-width: 1025px) {
  .layout-wrapper.layout-slim .layout-content {
    padding-top: 50px;
    margin-left: 60px; }
  .layout-wrapper.layout-slim .layout-menu-container {
    padding: 0;
    height: 100%;
    width: 60px;
    overflow: visible;
    top: 50px;
    position: fixed; }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu-title, .layout-wrapper.layout-slim .layout-menu-container .layout-menu-footer {
      display: none; }
    .layout-wrapper.layout-slim .layout-menu-container .layout-menu {
      padding: 8px 0 0 0; }
      .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li {
        position: relative; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a {
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          padding-top: 10px;
          padding-bottom: 10px; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a i:first-child {
            font-size: 16px; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a span, .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a .layout-menuitem-toggler {
            display: none; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a:hover + .layout-menu-tooltip {
            display: block; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > a:not(.p-disabled):hover {
            background-color: #7E57C2;
            color: #ffffff; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.p-menu-separator {
          border-top: 1px solid #383838;
          margin: 0.25rem 0; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul {
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
          background-color: #1e1e1e;
          position: absolute;
          top: 0;
          left: 60px;
          min-width: 200px;
          max-height: none;
          display: none; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li a {
            padding: 8px 12px;
            display: block; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li a span {
              margin-left: 6px; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li a i.layout-menuitem-toggler {
              float: right;
              display: block;
              margin-top: 4px; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li a:not(.p-disabled):hover {
              background-color: #7E57C2;
              color: #ffffff; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li.p-menu-separator {
            border-top: 1px solid #383838;
            margin: 0.25rem 0; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li.active-menuitem > a {
            color: #7E57C2; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li.active-menuitem > a:hover {
              color: #ffffff; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li.active-menuitem > ul {
            display: block; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li ul {
            width: 100%;
            box-shadow: none; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li ul li a {
              padding-left: 24px; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li ul li ul li a {
              padding-left: 36px; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li ul li ul li ul li a {
              padding-left: 48px; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li ul li ul li ul li ul li a {
              padding-left: 60px; }
            .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li > ul li ul li ul li ul li ul li ul li a {
              padding-left: 72px; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.active-menuitem > a {
          background-color: #1e1e1e;
          color: #7E57C2; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.active-menuitem > a:hover {
            background-color: #7E57C2;
            color: #ffffff; }
          .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.active-menuitem > a:hover + .layout-menu-tooltip {
            display: none; }
        .layout-wrapper.layout-slim .layout-menu-container .layout-menu > li.active-menuitem > ul {
          display: block; } }
@media (max-width: 1024px) {
  .layout-wrapper .topbar {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }
    .layout-wrapper .topbar .profile .username {
      display: none; }
    .layout-wrapper .topbar .menu-button {
      display: inline-block;
      margin-left: 10px; }
    .layout-wrapper .topbar .topbar-search {
      display: none; }
    .layout-wrapper .topbar .topbar-menu > li.topbar-search-item {
      display: block; }
    .layout-wrapper .topbar .logo-link {
      width: auto; }
  .layout-wrapper .layout-mask {
    display: none; }
  .layout-wrapper .layout-menu-container {
    padding: 0;
    width: 230px;
    height: 100%;
    overflow: auto;
    transform: translateX(-100%);
    transition: transform 0.2s; }
    .layout-wrapper .layout-menu-container.layout-menu-container-inactive {
      transform: translateX(-100%) !important; }
    .layout-wrapper .layout-menu-container .layout-menu-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .layout-wrapper .layout-menu-container .layout-menu-title {
      display: block;
      padding: 16px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid #383838;
      letter-spacing: 2px; }
    .layout-wrapper .layout-menu-container .layout-menu {
      flex: 1 1 0; }
      .layout-wrapper .layout-menu-container .layout-menu li a {
        padding: 10px 12px;
        display: block; }
        .layout-wrapper .layout-menu-container .layout-menu li a:hover {
          background-color: #7E57C2;
          color: #ffffff; }
        .layout-wrapper .layout-menu-container .layout-menu li a i:first-child {
          font-size: 18px;
          vertical-align: middle;
          display: inline-block; }
        .layout-wrapper .layout-menu-container .layout-menu li a i.layout-menuitem-toggler {
          float: right;
          line-height: 22px; }
        .layout-wrapper .layout-menu-container .layout-menu li a > span {
          vertical-align: middle;
          display: inline-block;
          line-height: 15px;
          margin-left: 6px; }
      .layout-wrapper .layout-menu-container .layout-menu li.active-menuitem > a {
        background-color: #1e1e1e;
        color: #7E57C2; }
        .layout-wrapper .layout-menu-container .layout-menu li.active-menuitem > a:hover {
          background-color: #7E57C2;
          color: #ffffff; }
      .layout-wrapper .layout-menu-container .layout-menu > li:first-child {
        margin-top: 8px; }
      .layout-wrapper .layout-menu-container .layout-menu > li ul {
        background: #1e1e1e; }
        .layout-wrapper .layout-menu-container .layout-menu > li ul li a {
          padding-left: 24px; }
        .layout-wrapper .layout-menu-container .layout-menu > li ul li ul li a {
          padding-left: 36px; }
        .layout-wrapper .layout-menu-container .layout-menu > li ul li ul li ul li a {
          padding-left: 48px; }
        .layout-wrapper .layout-menu-container .layout-menu > li ul li ul li ul li ul li a {
          padding-left: 60px; }
        .layout-wrapper .layout-menu-container .layout-menu > li ul li ul li ul li ul li ul li a {
          padding-left: 72px; }
    .layout-wrapper .layout-menu-container .layout-menu-footer {
      padding-bottom: 50px; }
      .layout-wrapper .layout-menu-container .layout-menu-footer .layout-menu-footer-title {
        display: block;
        padding: 16px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid #383838;
        letter-spacing: 2px; }
      .layout-wrapper .layout-menu-container .layout-menu-footer .layout-menu-footer-content {
        padding: 10px 12px;
        color: rgba(255, 255, 255, 0.87); }
        .layout-wrapper .layout-menu-container .layout-menu-footer .layout-menu-footer-content .p-progressbar {
          height: 5px;
          border: 0 none;
          margin: 16px 0 4px 0; }
  .layout-wrapper.layout-mobile-active .layout-menu-container {
    transform: translateX(0); }
  .layout-wrapper.layout-mobile-active .layout-mask {
    display: block;
    position: fixed;
    background-color: #121212;
    opacity: 0.7;
    filter: alpha(opacity=70);
    height: 100%;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 100; }
  .layout-wrapper .layout-content {
    padding: 50px 0px 0px 0px; } }
.layout-config {
  position: fixed;
  top: 50px;
  padding: 0;
  right: 0;
  display: block;
  width: 16em;
  z-index: 998;
  height: calc(100% - 50px);
  transform: translate3d(16em, 0px, 0px);
  transition: transform 0.2s;
  backface-visibility: hidden;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e; }
  .layout-config.layout-config-active {
    transform: translate3d(0px, 0px, 0px);
    overflow: auto; }
    .layout-config.layout-config-active .layout-config-content .layout-config-button {
      display: none; }
  .layout-config .layout-config-content {
    position: relative;
    height: 100%;
    padding: 1em; }
    .layout-config .layout-config-content .layout-config-button {
      display: block;
      position: absolute;
      width: 52px;
      height: 52px;
      line-height: 52px;
      background-color: #7E57C2;
      text-align: center;
      color: #ffffff;
      top: 230px;
      left: -52px;
      z-index: -1;
      overflow: hidden;
      cursor: pointer;
      transition: background-color 0.2s;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24); }
      .layout-config .layout-config-content .layout-config-button i {
        font-size: 32px;
        line-height: inherit;
        cursor: pointer;
        transform: rotate(0deg);
        transition: color 0.2s, transform 1s; }
    .layout-config .layout-config-content .layout-config-close {
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      right: 14px;
      top: 10px;
      background-color: #e54a51;
      border-radius: 50%;
      transition: background-color 0.2s; }
      .layout-config .layout-config-content .layout-config-close i {
        color: #ffffff;
        line-height: inherit;
        font-size: 12px; }
      .layout-config .layout-config-content .layout-config-close:hover {
        background-color: #ea6e73; }
    .layout-config .layout-config-content .layout-themes {
      display: flex;
      flex-wrap: wrap; }
      .layout-config .layout-config-content .layout-themes > div {
        padding: .25rem; }
      .layout-config .layout-config-content .layout-themes button {
        width: 2rem;
        height: 2rem;
        border-radius: 3px;
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
        .layout-config .layout-config-content .layout-themes button i {
          font-size: 1rem;
          position: absolute;
          color: #ffffff;
          top: 50%;
          left: 50%;
          margin-left: -.5rem;
          margin-top: -.5rem; }
        .layout-config .layout-config-content .layout-themes button:hover {
          transform: scale(1.1); }
  .layout-config .p-col {
    text-align: center; }
  .layout-config p {
    line-height: 1.5;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.6); }

.blocked-scroll-config {
  overflow: hidden; }

@media screen and (max-width: 1024px) {
  .layout-config {
    transform: translate3d(100%, 0px, 0px); }
    .layout-config.layout-config-active {
      transform: translate3d(0px, 0px, 0px); }
    .layout-config .layout-config-button {
      left: auto;
      right: -52px; }
    .layout-config .layout-config-close {
      right: 10px; } }
.widget-overview-box {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
  position: relative;
  min-height: 100px;
  overflow: hidden; }
  .widget-overview-box h1 {
    font-size: 12px;
    color: #ffffff;
    margin: 0; }
  .widget-overview-box img {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .widget-overview-box .overview-value {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff; }
  .widget-overview-box .overview-ratio {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #ffffff; }
    .widget-overview-box .overview-ratio .overview-direction {
      display: inline-block;
      text-align: center;
      width: 20px;
      height: 20px;
      background-color: #ffffff; }
      .widget-overview-box .overview-ratio .overview-direction i {
        vertical-align: middle;
        font-size: inherit; }
    .widget-overview-box .overview-ratio .overview-ratio-value {
      display: inline-block;
      height: 20px;
      padding: 0 4px; }
  .widget-overview-box.overview-box-1 {
    background-image: linear-gradient(to bottom, #39a3f4 1%, #279cf5 99%); }
    .widget-overview-box.overview-box-1 .overview-direction {
      color: #39a3f4; }
    .widget-overview-box.overview-box-1 .overview-ratio-value {
      background-color: #1164a3;
      color: #39a3f4; }
  .widget-overview-box.overview-box-2 {
    background-image: linear-gradient(to bottom, #76be45, #66b92d); }
    .widget-overview-box.overview-box-2 .overview-direction {
      color: #76be45; }
    .widget-overview-box.overview-box-2 .overview-ratio-value {
      background-color: #447d1d;
      color: #76be45; }
  .widget-overview-box.overview-box-3 {
    background-image: linear-gradient(to bottom, #dea242, #d5942e); }
    .widget-overview-box.overview-box-3 .overview-direction {
      color: #dea242; }
    .widget-overview-box.overview-box-3 .overview-ratio-value {
      background-color: #90631d;
      color: #dea242; }
  .widget-overview-box.overview-box-4 {
    background-image: linear-gradient(to bottom, #d67161, #d65c49); }
    .widget-overview-box.overview-box-4 .overview-direction {
      color: #d67161; }
    .widget-overview-box.overview-box-4 .overview-ratio-value {
      background-color: #943728;
      color: #d67161; }

.widget-circle-panel.card {
  padding: 1rem 0 0 0; }
.widget-circle-panel h4 {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #383838; }
.widget-circle-panel .p-grid > div {
  padding: 2em 0; }
.widget-circle-panel div.p-col-12:not(:last-child) {
  border-right: 1px solid #383838; }
.widget-circle-panel .status-title {
  margin-bottom: 0.714em;
  font-size: 1.429em;
  text-align: center; }
.widget-circle-panel .circle1 {
  width: 10.714em;
  height: 10.714em;
  border: 10px solid #383838;
  border-right-color: #6ebc3b;
  border-top-color: #6ebc3b;
  border-bottom-color: #6ebc3b;
  border-left-color: #6ebc3b;
  border-radius: 50%;
  margin: auto;
  border-left-color: #383838; }
  .widget-circle-panel .circle1 i {
    position: relative;
    font-size: 24px;
    left: 50%;
    top: 20%;
    width: 36px;
    height: 36px;
    margin-left: -20px;
    color: #6ebc3b;
    text-align: center; }
  .widget-circle-panel .circle1 span {
    width: 79px;
    height: 50px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 40%;
    left: 50%;
    margin-left: -35px;
    color: #6ebc3b;
    font-weight: bold;
    font-size: 30px; }
.widget-circle-panel .circle2 {
  width: 10.714em;
  height: 10.714em;
  border: 10px solid #383838;
  border-right-color: #f6a821;
  border-top-color: #f6a821;
  border-bottom-color: #f6a821;
  border-left-color: #f6a821;
  border-radius: 50%;
  margin: auto;
  border-bottom-color: #383838;
  border-left-color: #383838;
  border-right-color: #383838; }
  .widget-circle-panel .circle2 i {
    position: relative;
    font-size: 24px;
    left: 50%;
    top: 20%;
    width: 36px;
    height: 36px;
    margin-left: -20px;
    color: #f6a821;
    text-align: center; }
  .widget-circle-panel .circle2 span {
    width: 79px;
    height: 50px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 40%;
    left: 50%;
    margin-left: -35px;
    color: #f6a821;
    font-weight: bold;
    font-size: 30px; }
.widget-circle-panel .circle3 {
  width: 10.714em;
  height: 10.714em;
  border: 10px solid #383838;
  border-right-color: #039ade;
  border-top-color: #039ade;
  border-bottom-color: #039ade;
  border-left-color: #039ade;
  border-radius: 50%;
  margin: auto;
  border-bottom-color: #383838;
  border-right-color: #383838; }
  .widget-circle-panel .circle3 i {
    position: relative;
    font-size: 24px;
    left: 50%;
    top: 20%;
    width: 36px;
    height: 36px;
    margin-left: -20px;
    color: #039ade;
    text-align: center; }
  .widget-circle-panel .circle3 span {
    width: 79px;
    height: 50px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 40%;
    left: 50%;
    margin-left: -35px;
    color: #039ade;
    font-weight: bold;
    font-size: 30px; }
.widget-circle-panel .circle4 {
  border-left-color: #383838;
  width: 10.714em;
  height: 10.714em;
  border: 10px solid #383838;
  border-right-color: #d66351;
  border-top-color: #d66351;
  border-bottom-color: #d66351;
  border-left-color: #d66351;
  border-radius: 50%;
  margin: auto; }
  .widget-circle-panel .circle4 i {
    position: relative;
    font-size: 24px;
    left: 50%;
    top: 20%;
    width: 36px;
    height: 36px;
    margin-left: -20px;
    color: #d66351;
    text-align: center; }
  .widget-circle-panel .circle4 span {
    width: 79px;
    height: 50px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 40%;
    left: 50%;
    margin-left: -35px;
    color: #d66351;
    font-weight: bold;
    font-size: 30px; }

.widget-user-card {
  border: 1px solid #383838;
  padding: 0; }
  .widget-user-card .user-card-header {
    height: 100px;
    overflow: hidden;
    position: relative; }
    .widget-user-card .user-card-header img {
      width: 100%; }
    .widget-user-card .user-card-header .p-button {
      position: absolute;
      width: 36px;
      height: 36px;
      top: 32px;
      right: 24px; }
  .widget-user-card .user-card-content {
    min-height: 328px;
    background-color: transparent;
    position: relative; }
    .widget-user-card .user-card-content img {
      position: absolute;
      top: -90px;
      left: 24px; }
    .widget-user-card .user-card-content .user-card-name {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.87);
      position: absolute;
      top: -60px;
      margin-left: 110px;
      font-weight: 700;
      white-space: nowrap; }
    .widget-user-card .user-card-content .user-detail {
      text-align: left; }
      .widget-user-card .user-card-content .user-detail ul {
        padding: 0px 0 32px 0;
        margin: 0;
        list-style-type: none; }
        .widget-user-card .user-card-content .user-detail ul li {
          padding: 16px 24px;
          border-top: 1px solid #383838; }
          .widget-user-card .user-card-content .user-detail ul li:last-child {
            border-bottom: 1px solid #383838; }
          .widget-user-card .user-card-content .user-detail ul li i {
            font-size: 24px;
            margin-right: 8px;
            width: 32px;
            vertical-align: middle; }
          .widget-user-card .user-card-content .user-detail ul li .project-title {
            font-weight: 700;
            margin-right: 8px; }
          .widget-user-card .user-card-content .user-detail ul li .project-detail {
            color: rgba(255, 255, 255, 0.6); }
          .widget-user-card .user-card-content .user-detail ul li .project-progressbar {
            width: 100px;
            background-color: #383838;
            float: right;
            margin-top: 12px; }
            .widget-user-card .user-card-content .user-detail ul li .project-progressbar .project-progressbar-value {
              border-radius: 3px;
              background-color: #7E57C2;
              height: 4px; }

.widget-contacts {
  overflow: hidden; }
  .widget-contacts .p-panel .p-panel-content {
    min-height: 350px;
    padding: 0px !important; }
  .widget-contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .widget-contacts ul li {
      border-bottom: 1px solid #383838;
      padding: 10px 15px;
      width: 100%;
      text-decoration: none;
      position: relative;
      display: block;
      border-radius: 3px;
      transition: background-color .2s; }
      .widget-contacts ul li img {
        float: left;
        margin-right: 8px; }
      .widget-contacts ul li .contact-info {
        float: left; }
        .widget-contacts ul li .contact-info .name {
          display: block;
          margin-top: 4px;
          font-size: 14px; }
        .widget-contacts ul li .contact-info .location {
          margin-top: 4px;
          display: block;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6); }
      .widget-contacts ul li .contact-actions {
        float: right;
        padding-top: 12px; }
        .widget-contacts ul li .contact-actions button:last-child {
          margin-left: 6px; }
      .widget-contacts ul li:last-child {
        border: 0; }

.widget-timeline {
  margin: 0; }
  .widget-timeline > .p-grid .p-col-3 {
    font-size: 14px;
    position: relative;
    border-right: 1px solid #383838; }
    .widget-timeline > .p-grid .p-col-3 i {
      font-size: 24px;
      position: absolute;
      right: -16px; }
  .widget-timeline > .p-grid .p-col-9 {
    padding-left: 1.5em; }
    .widget-timeline > .p-grid .p-col-9 .event-text {
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
      display: block;
      padding-bottom: 20px; }
    .widget-timeline > .p-grid .p-col-9 .event-content img {
      width: 100%; }

.widget-image-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .widget-image-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #383838;
    padding: 1rem; }
    .widget-image-list li:first-child {
      border-top: 0 none;
      font-weight: 600;
      font-size: 1rem; }
    .widget-image-list li img {
      width: 64px;
      vertical-align: middle;
      margin-right: .5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
    .widget-image-list li .listitem-value {
      font-weight: 600; }

.widget-chat ul {
  padding: 1rem;
  margin: 0;
  list-style-type: none; }
  .widget-chat ul li {
    padding: .5rem 0;
    display: flex;
    align-items: flex-start; }
    .widget-chat ul li img {
      width: 36px; }
    .widget-chat ul li div {
      padding: .5rem 1rem;
      margin: .25rem 0;
      border-radius: 3px; }
    .widget-chat ul li.message-from {
      justify-content: flex-start; }
      .widget-chat ul li.message-from img {
        margin-right: .5rem; }
      .widget-chat ul li.message-from div {
        order: 2;
        background-color: #39a3f4;
        color: #ffffff;
        border: solid 1px #39a3f4; }
    .widget-chat ul li.message-own {
      justify-content: flex-end; }
      .widget-chat ul li.message-own img {
        margin-left: .5rem;
        order: 2; }
      .widget-chat ul li.message-own div {
        order: 1;
        background-color: #6ebc3b;
        color: #ffffff;
        border: solid 1px #6ebc3b; }
.widget-chat .new-message {
  height: 40px;
  border-top: 1px solid #383838;
  color: #afafc0; }
  .widget-chat .new-message .message-attachment {
    display: inline-block;
    border-right: 1px solid #383838;
    width: 40px;
    line-height: 40px;
    height: 100%;
    text-align: center; }
    .widget-chat .new-message .message-attachment i {
      line-height: inherit;
      font-size: 24px; }
  .widget-chat .new-message .message-input {
    position: relative;
    top: -4px;
    width: calc(100% - 100px);
    display: inline-block; }
    .widget-chat .new-message .message-input input {
      border: 0 none;
      font-size: 14px;
      width: 100%;
      background: transparent;
      outline: 0 none;
      padding-left: 8px; }

.widget-pricing-box {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px 0;
  text-align: center;
  background-color: #e1e6e9;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .widget-pricing-box .pricing-name {
    font-size: 24px; }
  .widget-pricing-box .pricing-fee {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #7E57C2;
    color: #ffffff;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    font-size: 22px;
    line-height: 100px; }
  .widget-pricing-box:hover {
    background-color: #7E57C2;
    color: #ffffff; }
    .widget-pricing-box:hover p {
      color: #ffffff; }
    .widget-pricing-box:hover .pricing-fee {
      background-color: #eaeeef;
      color: #7E57C2; }

/* Login */
.login-body {
  height: 100vh;
  font-size: 16px;
  margin: 0;
  background-image: url("../../layout/images/map.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50% 100%; }
  .login-body .body-container {
    height: 7px;
    border-top: 7px solid #7E57C2; }
    .login-body .body-container .p-grid {
      margin-right: 0; }
  .login-body .right-side {
    width: 50%; }
  .login-body .left-side {
    height: 100%;
    padding-left: 100px;
    width: 50%; }
    .login-body .left-side img {
      padding: 100px 0 100px 0;
      width: 60px; }
    .login-body .left-side h1 {
      font-size: 80px;
      color: rgba(255, 255, 255, 0.87); }
    .login-body .left-side p {
      color: rgba(255, 255, 255, 0.87);
      padding-right: 50px;
      margin-top: 0;
      margin-bottom: 40px; }

.login-wrapper {
  width: 400px;
  margin: 0 auto;
  text-align: center; }
  .login-wrapper .login-container {
    box-sizing: border-box;
    padding-top: 50%;
    text-align: center;
    color: #4f575b; }
    .login-wrapper .login-container .title {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.87);
      display: block;
      text-align: left;
      margin-bottom: 10px; }
    .login-wrapper .login-container .password-container {
      text-align: right; }
    .login-wrapper .login-container .p-link {
      color: #7E57C2;
      text-decoration: none;
      font-size: 16px;
      line-height: 32px;
      display: inline-block;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.2s; }
      .login-wrapper .login-container .p-link:hover {
        border-bottom-color: #7E57C2; }
    .login-wrapper .login-container input {
      width: 100%;
      font-size: 1em; }
    .login-wrapper .login-container .p-button {
      width: 100%;
      font-size: 16px; }

@media (max-width: 64em) {
  .login-body {
    text-align: center;
    background-size: cover; }
    .login-body .left-side {
      height: 300px;
      padding-left: 25px;
      width: 100%; }
      .login-body .left-side img {
        padding: 20px 0 20px 0; }
      .login-body .left-side p {
        display: none; }
    .login-body .right-side {
      height: 100%;
      width: 100%; }

  .login-wrapper {
    width: 320px; }
    .login-wrapper .login-container {
      padding-top: 25%; } }
@media (max-width: 40em) {
  .login-body .left-side {
    height: 200px;
    padding-left: 25px;
    text-align: center;
    width: 100%; }
    .login-body .left-side img {
      padding: 20px 0 20px 0; }
    .login-body .left-side h1 {
      font-size: 40px; }
    .login-body .left-side p {
      display: none; }
  .login-body .right-side {
    height: calc(100% - 250px);
    width: 100%; }

  .login-wrapper {
    width: 320px; }
    .login-wrapper .login-container {
      padding-top: 25%; } }
/* Exception */
.exception-body {
  height: 100vh;
  font-size: 16px;
  margin: 0;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain; }
  .exception-body .exception-container {
    height: 100%;
    padding-left: 100px; }
    .exception-body .exception-container img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 100px 0; }
    .exception-body .exception-container h1 {
      font-size: 80px;
      color: rgba(255, 255, 255, 0.87); }
    .exception-body .exception-container p {
      color: rgba(255, 255, 255, 0.87);
      margin-top: 0;
      margin-bottom: 40px; }
  .exception-body.error-body {
    background-image: url("../../layout/images/error.png");
    border-top: 7px solid #EF5350; }
  .exception-body.access-body {
    background-image: url("../../layout/images/access.png");
    border-top: 7px solid #f6a821; }
  .exception-body.notfound-body {
    background-image: url("../../layout/images/404.png");
    border-top: 7px solid #ffc800; }

@media (max-width: 1280px) {
  .exception-body {
    background-size: cover;
    text-align: center; }
    .exception-body .exception-container {
      padding-left: 0;
      padding-top: 200px; }
      .exception-body .exception-container img {
        margin-top: 0; }
      .exception-body .exception-container h1 {
        font-size: 40px; }
      .exception-body .exception-container p {
        padding: 0 25px; } }
/* Dashboard */
.dashboard {
  margin: 0; }
  .dashboard > .p-col-12 {
    padding: .75rem; }
  .dashboard .overview-box {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    position: relative;
    min-height: 100px;
    overflow: hidden; }
    .dashboard .overview-box h1 {
      font-size: 12px;
      color: #ffffff;
      margin: 0; }
    .dashboard .overview-box img {
      position: absolute;
      bottom: 0;
      width: 100%; }
    .dashboard .overview-box .overview-value {
      font-size: 20px;
      font-weight: 700;
      color: #ffffff; }
    .dashboard .overview-box .overview-ratio {
      position: absolute;
      right: 15px;
      top: 15px;
      color: #ffffff; }
      .dashboard .overview-box .overview-ratio .overview-direction {
        display: inline-block;
        text-align: center;
        width: 20px;
        height: 20px;
        background-color: #ffffff; }
        .dashboard .overview-box .overview-ratio .overview-direction i {
          vertical-align: middle;
          font-size: inherit; }
      .dashboard .overview-box .overview-ratio .overview-ratio-value {
        display: inline-block;
        height: 20px;
        padding: 0 4px; }
    .dashboard .overview-box.overview-box-1 {
      background-image: linear-gradient(to bottom, #39a3f4 1%, #279cf5 99%); }
      .dashboard .overview-box.overview-box-1 .overview-direction {
        color: #39a3f4; }
      .dashboard .overview-box.overview-box-1 .overview-ratio-value {
        background-color: #1164a3;
        color: #39a3f4; }
    .dashboard .overview-box.overview-box-2 {
      background-image: linear-gradient(to bottom, #76be45, #66b92d); }
      .dashboard .overview-box.overview-box-2 .overview-direction {
        color: #76be45; }
      .dashboard .overview-box.overview-box-2 .overview-ratio-value {
        background-color: #447d1d;
        color: #76be45; }
    .dashboard .overview-box.overview-box-3 {
      background-image: linear-gradient(to bottom, #dea242, #d5942e); }
      .dashboard .overview-box.overview-box-3 .overview-direction {
        color: #dea242; }
      .dashboard .overview-box.overview-box-3 .overview-ratio-value {
        background-color: #90631d;
        color: #dea242; }
    .dashboard .overview-box.overview-box-4 {
      background-image: linear-gradient(to bottom, #d67161, #d65c49); }
      .dashboard .overview-box.overview-box-4 .overview-direction {
        color: #d67161; }
      .dashboard .overview-box.overview-box-4 .overview-ratio-value {
        background-color: #943728;
        color: #d67161; }
  .dashboard .disk-spaces .p-panel-content {
    padding: 2em; }
    .dashboard .disk-spaces .p-panel-content span {
      display: block;
      margin-bottom: 20px; }
    .dashboard .disk-spaces .p-panel-content .p-progressbar {
      margin-bottom: 40px;
      height: 5px; }
  .dashboard .task-list {
    overflow: hidden; }
    .dashboard .task-list .p-panel-content {
      min-height: 350px;
      padding: 0; }
    .dashboard .task-list ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .dashboard .task-list ul li {
        padding: 10px 15px;
        border-bottom: 1px solid #383838; }
        .dashboard .task-list ul li:last-child {
          border-bottom: 0 none; }
      .dashboard .task-list ul .p-checkbox {
        vertical-align: middle;
        margin-right: 6px; }
      .dashboard .task-list ul .task-name {
        vertical-align: middle; }
      .dashboard .task-list ul i {
        color: rgba(255, 255, 255, 0.6);
        float: right;
        font-size: 20px;
        margin-top: 2px;
        opacity: 0.7;
        filter: alpha(opacity=70); }
  .dashboard .contact-form {
    overflow: hidden; }
    .dashboard .contact-form .p-panel .p-panel-content {
      min-height: 350px; }
    .dashboard .contact-form .p-col-12 {
      padding: 10px 15px; }
      .dashboard .contact-form .p-col-12:last-child {
        padding-bottom: 0; }
  .dashboard .contacts {
    overflow: hidden; }
    .dashboard .contacts .p-panel .p-panel-content {
      min-height: 350px;
      padding: 0px !important; }
    .dashboard .contacts ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .dashboard .contacts ul li {
        border-bottom: 1px solid #383838;
        padding: 10px 15px;
        width: 100%;
        text-decoration: none;
        position: relative;
        display: block;
        border-radius: 3px;
        transition: background-color .2s; }
        .dashboard .contacts ul li img {
          float: left;
          margin-right: 8px; }
        .dashboard .contacts ul li .contact-info {
          float: left; }
          .dashboard .contacts ul li .contact-info .name {
            display: block;
            margin-top: 4px;
            font-size: 14px; }
          .dashboard .contacts ul li .contact-info .location {
            margin-top: 4px;
            display: block;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6); }
        .dashboard .contacts ul li .contact-actions {
          float: right;
          padding-top: 12px; }
          .dashboard .contacts ul li .contact-actions button:last-child {
            margin-left: 6px; }
        .dashboard .contacts ul li:last-child {
          border: 0; }
  .dashboard .chat .p-panel-content {
    padding: 0 !important; }
  .dashboard .chat .sales-panel {
    margin-top: 15px; }
    .dashboard .chat .sales-panel .card {
      padding: 0;
      margin: 0; }
  .dashboard .chat ul {
    padding: 12px;
    margin: 0;
    list-style-type: none; }
    .dashboard .chat ul li {
      padding: 6px 0; }
      .dashboard .chat ul li img {
        width: 36px;
        float: left; }
      .dashboard .chat ul li span {
        padding: 6px 12px;
        float: left;
        display: inline-block;
        margin: 4px 0;
        border-radius: 3px; }
      .dashboard .chat ul li.message-from img, .dashboard .chat ul li.message-from span {
        float: left; }
      .dashboard .chat ul li.message-from img {
        margin-right: 8px; }
      .dashboard .chat ul li.message-from span {
        background-color: #39a3f4;
        color: #ffffff; }
      .dashboard .chat ul li.message-own img, .dashboard .chat ul li.message-own span {
        float: right; }
      .dashboard .chat ul li.message-own img {
        margin-left: 8px; }
      .dashboard .chat ul li.message-own span {
        background-color: #dee2e6;
        color: #000000; }
  .dashboard .chat .new-message {
    height: 40px;
    border-top: 1px solid #383838;
    color: #afafc0; }
    .dashboard .chat .new-message .message-attachment {
      display: inline-block;
      border-right: 1px solid #383838;
      width: 40px;
      line-height: 40px;
      height: 100%;
      text-align: center; }
      .dashboard .chat .new-message .message-attachment i {
        line-height: inherit;
        font-size: 20px; }
    .dashboard .chat .new-message .message-input {
      position: relative;
      top: -4px;
      width: calc(100% - 100px);
      display: inline-block; }
      .dashboard .chat .new-message .message-input input {
        border: 0 none;
        font-size: 14px;
        width: 100%;
        background-color: transparent;
        outline: 0 none;
        padding-left: 8px;
        box-shadow: none; }
  .dashboard .timeline {
    margin: 0; }
    .dashboard .timeline > .p-grid .p-col-3 {
      font-size: 14px;
      position: relative;
      border-right: 1px solid #383838; }
      .dashboard .timeline > .p-grid .p-col-3 i {
        font-size: 24px;
        position: absolute;
        right: -16px; }
    .dashboard .timeline > .p-grid .p-col-9 {
      padding-left: 1.5em; }
      .dashboard .timeline > .p-grid .p-col-9 .event-text {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        display: block;
        padding-bottom: 20px; }
      .dashboard .timeline > .p-grid .p-col-9 .event-content img {
        width: 100%; }
  .dashboard .user-card {
    border: 1px solid #383838;
    padding: 0; }
    .dashboard .user-card .user-card-header {
      height: 100px;
      overflow: hidden;
      position: relative; }
      .dashboard .user-card .user-card-header img {
        width: 100%; }
      .dashboard .user-card .user-card-header .p-button {
        position: absolute;
        width: 36px;
        height: 36px;
        top: 32px;
        right: 24px; }
    .dashboard .user-card .user-card-content {
      min-height: 340px;
      background-color: transparent;
      position: relative; }
      .dashboard .user-card .user-card-content img {
        position: absolute;
        top: -90px;
        left: 24px; }
      .dashboard .user-card .user-card-content .user-card-name {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.87);
        position: absolute;
        top: -60px;
        margin-left: 110px;
        font-weight: 700;
        white-space: nowrap; }
      .dashboard .user-card .user-card-content .user-detail {
        text-align: left; }
        .dashboard .user-card .user-card-content .user-detail ul {
          padding: 0px 0 32px 0;
          margin: 0;
          list-style-type: none; }
          .dashboard .user-card .user-card-content .user-detail ul li {
            padding: 16px 24px;
            border-top: 1px solid #383838; }
            .dashboard .user-card .user-card-content .user-detail ul li:last-child {
              border-bottom: 1px solid #383838; }
            .dashboard .user-card .user-card-content .user-detail ul li i {
              font-size: 24px;
              margin-right: 8px;
              width: 32px;
              vertical-align: middle; }
            .dashboard .user-card .user-card-content .user-detail ul li .project-title {
              font-weight: 700;
              margin-right: 8px; }
            .dashboard .user-card .user-card-content .user-detail ul li .project-detail {
              color: rgba(255, 255, 255, 0.6); }
            .dashboard .user-card .user-card-content .user-detail ul li .project-progressbar {
              width: 100px;
              background-color: #383838;
              float: right;
              margin-top: 12px; }
              .dashboard .user-card .user-card-content .user-detail ul li .project-progressbar .project-progressbar-value {
                border-radius: 3px;
                background-color: #7E57C2;
                height: 4px; }
  .dashboard .map img {
    width: 100%; }
  .dashboard .status-title {
    margin-bottom: 0.714em;
    font-size: 1.429em;
    text-align: center; }
  .dashboard .circle1 {
    width: 10.714em;
    height: 10.714em;
    border: 10px solid #383838;
    border-right-color: #6ebc3b;
    border-top-color: #6ebc3b;
    border-bottom-color: #6ebc3b;
    border-left-color: #6ebc3b;
    border-radius: 50%;
    margin: auto;
    border-left-color: #383838; }
    .dashboard .circle1 i {
      position: relative;
      font-size: 24px;
      left: 50%;
      top: 20%;
      width: 36px;
      height: 36px;
      margin-left: -20px;
      color: #6ebc3b;
      text-align: center; }
    .dashboard .circle1 span {
      width: 79px;
      height: 50px;
      position: relative;
      vertical-align: middle;
      text-align: center;
      top: 40%;
      left: 50%;
      margin-left: -35px;
      color: #6ebc3b;
      font-weight: bold;
      font-size: 30px; }
  .dashboard .circle2 {
    width: 10.714em;
    height: 10.714em;
    border: 10px solid #383838;
    border-right-color: #f6a821;
    border-top-color: #f6a821;
    border-bottom-color: #f6a821;
    border-left-color: #f6a821;
    border-radius: 50%;
    margin: auto;
    border-bottom-color: #383838;
    border-left-color: #383838;
    border-right-color: #383838; }
    .dashboard .circle2 i {
      position: relative;
      font-size: 24px;
      left: 50%;
      top: 20%;
      width: 36px;
      height: 36px;
      margin-left: -20px;
      color: #f6a821;
      text-align: center; }
    .dashboard .circle2 span {
      width: 79px;
      height: 50px;
      position: relative;
      vertical-align: middle;
      text-align: center;
      top: 40%;
      left: 50%;
      margin-left: -35px;
      color: #f6a821;
      font-weight: bold;
      font-size: 30px; }
  .dashboard .circle3 {
    width: 10.714em;
    height: 10.714em;
    border: 10px solid #383838;
    border-right-color: #039ade;
    border-top-color: #039ade;
    border-bottom-color: #039ade;
    border-left-color: #039ade;
    border-radius: 50%;
    margin: auto;
    border-bottom-color: #383838;
    border-right-color: #383838; }
    .dashboard .circle3 i {
      position: relative;
      font-size: 24px;
      left: 50%;
      top: 20%;
      width: 36px;
      height: 36px;
      margin-left: -20px;
      color: #039ade;
      text-align: center; }
    .dashboard .circle3 span {
      width: 79px;
      height: 50px;
      position: relative;
      vertical-align: middle;
      text-align: center;
      top: 40%;
      left: 50%;
      margin-left: -35px;
      color: #039ade;
      font-weight: bold;
      font-size: 30px; }
  .dashboard .circle4 {
    border-left-color: #383838;
    width: 10.714em;
    height: 10.714em;
    border: 10px solid #383838;
    border-right-color: #d66351;
    border-top-color: #d66351;
    border-bottom-color: #d66351;
    border-left-color: #d66351;
    border-radius: 50%;
    margin: auto; }
    .dashboard .circle4 i {
      position: relative;
      font-size: 24px;
      left: 50%;
      top: 20%;
      width: 36px;
      height: 36px;
      margin-left: -20px;
      color: #d66351;
      text-align: center; }
    .dashboard .circle4 span {
      width: 79px;
      height: 50px;
      position: relative;
      vertical-align: middle;
      text-align: center;
      top: 40%;
      left: 50%;
      margin-left: -35px;
      color: #d66351;
      font-weight: bold;
      font-size: 30px; }
  .dashboard .circle-panel .p-panel-titlebar {
    text-align: center; }
  .dashboard .circle-panel .p-panel-content {
    padding: 0; }
  .dashboard .circle-panel .p-grid > div {
    padding: 2em 0; }
  .dashboard .circle-panel div.p-col-12:not(:last-child) {
    border-right: 1px solid #383838; }
  .dashboard .p-panel {
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3); }

@media (max-width: 1024px) {
  .dashboard .circle-panel div.p-col-12:not(:last-child) {
    border-right: 0 none; } }
@media screen and (max-width: 960px) {
  .dashboard .p-datatable.p-datatable-customers .p-datatable-thead > tr > th,
  .dashboard .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
    display: none !important; }
  .dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
    border-bottom: 1px solid #dee2e6; }
    .dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0 none !important;
      width: 100% !important;
      float: left;
      clear: left;
      border: 0 none; }
      .dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4rem 1rem -.4rem -.4rem;
        font-weight: bold; }
      .dashboard .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
        margin-top: .5rem; } }
/* Landing */
.landing-body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #141d26; }

.landing-wrapper #menu-button {
  display: none;
  float: right;
  text-decoration: none;
  transition: color 0.2s; }
  .landing-wrapper #menu-button img {
    width: 32px; }
.landing-wrapper .landing-header {
  height: 80px;
  background-color: #7E57C2;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 101; }
  .landing-wrapper .landing-header .landing-header-content {
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box; }
    .landing-wrapper .landing-header .landing-header-content img {
      display: inline-block;
      margin-top: -15px;
      width: 50px;
      height: 50px; }
    .landing-wrapper .landing-header .landing-header-content ul {
      list-style-type: none;
      float: right;
      margin: 2px 0 0 0;
      padding: 0; }
      .landing-wrapper .landing-header .landing-header-content ul li {
        float: left;
        margin-left: 10px; }
        .landing-wrapper .landing-header .landing-header-content ul li a {
          text-decoration: none;
          padding: 8px 10px;
          color: #ffffff;
          border-radius: 3px; }
          .landing-wrapper .landing-header .landing-header-content ul li a .menu-icon {
            display: none; }
          .landing-wrapper .landing-header .landing-header-content ul li a:hover {
            background-color: #ffffff;
            color: #7044bb; }
.landing-wrapper #introduction {
  padding-top: 80px;
  height: 623px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-image: url("../images/landing/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  .landing-wrapper #introduction .introduction-content {
    width: 960px;
    margin: 0 auto;
    color: #d8d8d8;
    text-align: center; }
    .landing-wrapper #introduction .introduction-content .title {
      font-size: 64px;
      margin: 200px 0 0 0; }
    .landing-wrapper #introduction .introduction-content .subtitle {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: lighter; }
    .landing-wrapper #introduction .introduction-content .p-button .p-button-text {
      font-size: 16px;
      padding: 7px 50px; }
.landing-wrapper #landing-feature {
  padding: 100px 0;
  text-align: center; }
  .landing-wrapper #landing-feature .landing-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .landing-wrapper #landing-feature .landing-container .centerText img {
      margin-bottom: 20px;
      width: 80px;
      height: 80px; }
  .landing-wrapper #landing-feature h2 {
    color: #ffffff;
    padding-bottom: 15px;
    font-weight: normal; }
  .landing-wrapper #landing-feature p {
    color: #ffffff; }
.landing-wrapper #mobile {
  background-color: #593696;
  background-image: url("../images/landing/landing_s2.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 570px;
  overflow: hidden; }
  .landing-wrapper #mobile .mobile-content {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    .landing-wrapper #mobile .mobile-content .title {
      font-size: 32px;
      position: absolute;
      top: 200px;
      color: #fff; }
    .landing-wrapper #mobile .mobile-content .subtitle {
      font-size: 20px;
      position: absolute;
      top: 250px;
      color: #fff; }
    .landing-wrapper #mobile .mobile-content img {
      position: absolute;
      left: 0px;
      top: 75px; }
    .landing-wrapper #mobile .mobile-content .p-button {
      position: absolute;
      top: 300px; }
      .landing-wrapper #mobile .mobile-content .p-button .p-button-text {
        font-size: 16px;
        padding: 14px 70px; }
.landing-wrapper #testimonials {
  text-align: center;
  color: #ffffff; }
  .landing-wrapper #testimonials .testimonials-container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px; }
    .landing-wrapper #testimonials .testimonials-container .testimonials-content {
      background-color: #243447; }
    .landing-wrapper #testimonials .testimonials-container h1 {
      padding: 64px 0 0px 0; }
    .landing-wrapper #testimonials .testimonials-container p {
      font-size: 18px;
      padding-bottom: 32px;
      font-weight: lighter; }
    .landing-wrapper #testimonials .testimonials-container #testimonials-text {
      padding: 32px 64px 0 64px; }
    .landing-wrapper #testimonials .testimonials-container p:last-child {
      padding-bottom: 50px; }
    .landing-wrapper #testimonials .testimonials-container .testimonials-title {
      font-size: 32px; }
.landing-wrapper #pricing {
  background-color: #ffffff;
  padding: 100px 0;
  color: #424242; }
  .landing-wrapper #pricing .pricing-content {
    width: 960px;
    margin: 0 auto;
    text-align: center; }
    .landing-wrapper #pricing .pricing-content .p-grid {
      margin-top: 50px; }
    .landing-wrapper #pricing .pricing-content > p {
      font-size: 20px; }
    .landing-wrapper #pricing .pricing-content .pricing-title {
      font-size: 32px; }
    .landing-wrapper #pricing .pricing-content .pricing-name {
      font-size: 24px; }
    .landing-wrapper #pricing .pricing-content .pricing-box {
      border-radius: 3px;
      padding: 40px 0;
      background-color: #e1e6e9;
      transition: background-color 0.2s; }
      .landing-wrapper #pricing .pricing-content .pricing-box .pricing-fee {
        border-radius: 50px;
        background-color: #7E57C2;
        color: #ffffff;
        width: 100px;
        height: 100px;
        margin: 30px auto;
        font-size: 22px;
        line-height: 100px; }
      .landing-wrapper #pricing .pricing-content .pricing-box:hover {
        background-color: #7E57C2;
        color: #ffffff; }
        .landing-wrapper #pricing .pricing-content .pricing-box:hover p {
          color: #ffffff; }
        .landing-wrapper #pricing .pricing-content .pricing-box:hover .pricing-fee {
          background-color: #eaeeef;
          color: #7E57C2; }
.landing-wrapper #video {
  background-color: #282929;
  padding: 64px 0 100px 0;
  color: #fff; }
  .landing-wrapper #video .video-content {
    width: 960px;
    margin: 0 auto;
    text-align: center; }
    .landing-wrapper #video .video-content p {
      color: #fff;
      font-size: 20px;
      font-weight: lighter; }
    .landing-wrapper #video .video-content .video-title {
      font-size: 32px; }
    .landing-wrapper #video .video-content .video-container {
      margin-top: 50px; }
      .landing-wrapper #video .video-content .video-container iframe {
        width: 580px;
        height: 330px; }
.landing-wrapper .landing-footer {
  background-color: #7E57C2;
  background-image: url("../images/landing/landing_cloud.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }
  .landing-wrapper .landing-footer .landing-footer-content {
    width: 960px;
    margin: 0 auto;
    color: #fff; }
    .landing-wrapper .landing-footer .landing-footer-content .footer-logo {
      height: 50px; }
    .landing-wrapper .landing-footer .landing-footer-content .footer-top {
      padding: 30px 0; }

@media (max-width: 1024px) {
  .landing-wrapper #menu-button {
    display: block; }
  .landing-wrapper .landing-header {
    height: 80px;
    background-color: #7E57C2; }
    .landing-wrapper .landing-header .landing-header-content {
      width: 100%;
      padding: 30px 20px 0 20px; }
      .landing-wrapper .landing-header .landing-header-content ul {
        float: none;
        position: fixed;
        top: 80px;
        right: 0px;
        width: 200px;
        height: 100%;
        background-color: #243447;
        padding-top: 15px;
        width: 0;
        margin: 0;
        transition: width 0 0.2s; }
        .landing-wrapper .landing-header .landing-header-content ul.overlay-menu {
          height: 100%;
          width: 200px; }
        .landing-wrapper .landing-header .landing-header-content ul li {
          float: none;
          margin: 0; }
          .landing-wrapper .landing-header .landing-header-content ul li a {
            display: block;
            font-size: 18px;
            padding-left: 15px;
            box-sizing: border-box;
            width: 200px; }
            .landing-wrapper .landing-header .landing-header-content ul li a .menu-icon {
              margin-right: 10px;
              text-align: center;
              font-size: 18px;
              width: 15px; }
            .landing-wrapper .landing-header .landing-header-content ul li a .fa {
              display: inline-block; }
  .landing-wrapper #introduction {
    height: 603px; }
    .landing-wrapper #introduction .introduction-content {
      width: 100%;
      margin: 130px auto;
      text-align: center; }
      .landing-wrapper #introduction .introduction-content .title {
        padding: 30px 0 20px 0;
        font-size: 36px;
        position: static;
        display: block; }
      .landing-wrapper #introduction .introduction-content .subtitle {
        padding-bottom: 30px;
        font-size: 20px;
        position: static;
        display: block; }
      .landing-wrapper #introduction .introduction-content img {
        position: static;
        display: inline-block;
        padding-bottom: 30px; }
      .landing-wrapper #introduction .introduction-content .p-button {
        display: block;
        position: static;
        width: 250px;
        margin: 0 auto; }
  .landing-wrapper #landing-feature .landing-container {
    padding: 0 100px;
    width: 90%; }
  .landing-wrapper #mobile {
    height: 600px;
    background-size: cover; }
    .landing-wrapper #mobile .mobile-content {
      width: 100%;
      margin: 120px auto;
      text-align: center; }
      .landing-wrapper #mobile .mobile-content .title {
        font-size: 32px;
        position: static;
        display: block;
        padding: 30px 0 20px 0; }
      .landing-wrapper #mobile .mobile-content .subtitle {
        font-size: 20px;
        position: static;
        display: block;
        padding-bottom: 30px; }
      .landing-wrapper #mobile .mobile-content img {
        position: absolute;
        top: 300px;
        left: 30%; }
      .landing-wrapper #mobile .mobile-content .p-button {
        position: static;
        display: block;
        width: 250px;
        margin: 0 auto; }
  .landing-wrapper #testimonials {
    text-align: center; }
    .landing-wrapper #testimonials .testimonials-container {
      width: 100%; }
    .landing-wrapper #testimonials .testimonials-content {
      margin: 0 auto;
      width: 75%; }
  .landing-wrapper #pricing {
    padding: 30px 0; }
    .landing-wrapper #pricing .pricing-content {
      width: 100%; }
  .landing-wrapper #video {
    padding: 30px 0; }
    .landing-wrapper #video .video-content {
      width: 100%; }
      .landing-wrapper #video .video-content .video-container iframe {
        width: 350px;
        height: 220px; }
  .landing-wrapper .landing-footer {
    padding: 0px 20px; }
    .landing-wrapper .landing-footer .landing-footer-content {
      width: 100%; } }
@media (max-width: 640px) {
  .landing-wrapper #landing-feature {
    text-align: center;
    padding: 50px 0; }
    .landing-wrapper #landing-feature .landing-container {
      padding: 0; }
  .landing-wrapper #mobile .mobile-content img {
    left: 15%; }
  .landing-wrapper .landing-footer img {
    width: 150px; }

  .p-button-text-only .p-button-text {
    padding: .25em 1em;
    display: block; }

  .p-button {
    display: inline-block;
    position: relative;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    /* the overflow property removes extra width in IE */ } }
.invoice {
  padding: 2rem; }
  .invoice .invoice-header {
    display: flex;
    justify-content: space-between; }
  .invoice .invoice-company .logo-image {
    width: 75px;
    margin-bottom: .5rem; }
  .invoice .invoice-company div {
    margin-bottom: .5rem; }
  .invoice .invoice-company .company-name {
    font-weight: 700;
    font-size: 1.5rem; }
  .invoice .invoice-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: right; }
  .invoice .invoice-details {
    width: 15rem;
    display: flex;
    flex-wrap: wrap; }
    .invoice .invoice-details > div {
      width: 50%;
      margin-bottom: .5rem; }
    .invoice .invoice-details .invoice-label {
      text-align: left;
      font-weight: 700; }
    .invoice .invoice-details .invoice-value {
      text-align: right; }
  .invoice .invoice-to {
    margin-top: 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid #383838; }
    .invoice .invoice-to .bill-to {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: .5rem; }
    .invoice .invoice-to .invoice-to-info div {
      margin-bottom: .5rem; }
  .invoice .invoice-items {
    margin-top: 2rem;
    padding-top: 2rem; }
    .invoice .invoice-items table {
      width: 100%;
      border-collapse: collapse; }
      .invoice .invoice-items table tr {
        border-bottom: 1px solid #383838; }
      .invoice .invoice-items table th {
        font-weight: 700; }
      .invoice .invoice-items table th, .invoice .invoice-items table td {
        padding: 1rem;
        text-align: right; }
      .invoice .invoice-items table th:first-child, .invoice .invoice-items table td:first-child {
        text-align: left; }
  .invoice .invoice-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    padding-top: 2.5rem; }
    .invoice .invoice-summary .invoice-value {
      font-weight: 700; }

@media print {
  body * {
    visibility: hidden; }

  #invoice-content * {
    visibility: visible; }

  #invoice-content {
    position: absolute;
    left: 0;
    top: 0; }

  #invoice-content .card {
    box-shadow: none; }
    #invoice-content .card.invoice-table {
      margin-bottom: 10px;
      background-color: transparent; } }
.help-page p {
  margin: 0; }
.help-page .help-search {
  background: url("../../layout/images/pages/bg-help.png") repeat;
  padding: 0;
  text-align: center; }
  .help-page .help-search .help-search-content {
    padding: 5rem 12rem; }
  .help-page .help-search .search-container {
    font-size: 1.5rem;
    padding: 1rem;
    position: relative; }
    .help-page .help-search .search-container input {
      appearance: none;
      font-size: 1.5rem;
      text-indent: 2.5rem;
      padding: .5rem;
      width: 100%; }
    .help-page .help-search .search-container i {
      color: rgba(255, 255, 255, 0.87);
      position: absolute;
      margin-left: 1rem;
      top: 50%;
      margin-top: -.5rem; }
.help-page .status-bars {
  margin-top: 1rem;
  display: flex; }
  .help-page .status-bars .status-bar {
    flex: 1 1 0;
    background: #8BC34A;
    height: 50px;
    margin-right: .25rem;
    transition: transform 0.2s; }
    .help-page .status-bars .status-bar:last-child {
      margin-right: 0; }
    .help-page .status-bars .status-bar.status-bar-failure {
      background: #EC407A; }
    .help-page .status-bars .status-bar:hover {
      transform: scale(1.1); }
.help-page .status-bar-footer {
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: space-between; }
.help-page .blog-post {
  height: 150px;
  border-radius: 4px;
  margin: 3rem 2rem;
  position: relative;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .help-page .blog-post:last-child {
    margin-bottom: 1rem; }
  .help-page .blog-post img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .help-page .blog-post .blog-text {
    position: absolute;
    left: 20px;
    top: 30px; }
    .help-page .blog-post .blog-text h1 {
      font-size: 1.25rem;
      color: #ffffff;
      margin-bottom: 1rem;
      font-weight: 700; }
    .help-page .blog-post .blog-text span {
      color: #ffffff;
      font-weight: 600; }
  .help-page .blog-post .blog-profile {
    position: absolute;
    top: -25px;
    left: -25px; }
    .help-page .blog-post .blog-profile img {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
  .help-page .blog-post:nth-child(1) {
    background-image: url("../../layout/images/pages/help/blog1.jpg"); }
  .help-page .blog-post:nth-child(2) {
    background-image: url("../../layout/images/pages/help/blog2.jpg"); }
  .help-page .blog-post:nth-child(3) {
    background-image: url("../../layout/images/pages/help/blog3.jpg"); }

@media screen and (max-width: 991px) {
  .help-page .help-search .help-search-content {
    padding: 6rem 2rem; } }
/* Add your customizations of layout here */
