@import 'prismjs/themes/prism-coy.css';
@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';
@import './AppDemo.scss';

#sg-signin-button {
    width: 100% !important;
    margin-left: 0;
}

.divider-container{
    display: flex;
    align-items: center;
}

.divider-border{
    border-bottom: 1px solid black;
    width: 100%;
}

.divider-content {
    padding: 0 10px 0 10px;
    white-space: nowrap;
}

.div-rounded {
    border-radius: 1rem !important;
}

.button-rounded {
    border-radius: 0.4rem !important;
}

.vertical-line {
    border-left: groove #e1e6e9;
    border-right: groove #e1e6e9;
    height: 100%;
    vertical-align: middle !important;
}

.welcome-panel:hover .base-image {
    display: none !important;
}

.welcome-link:hover .quick-setup .quick-setup-barge {
    background-color: #333333 !important;
}

// .welcome-panel:hover .quick-setup .quick-setup-barge .quick-setup-image {
//     filter: opacity(4.5) drop-shadow(0 0 0 blue) !important;
// }
.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-fluid .p-inputgroup .p-input {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100% !important;
}
